<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sala.nombre %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @sala.ubicacion %>
</p>

<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
