<!DOCTYPE html>
<html>
  <head>
    <title>AppG50</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="container-fluid">
      <%= link_to "Sign_up", new_user_registration_path %>
      <%= link_to "Sign_in", new_user_session_path %>
      <%= yield %>
    </div>
  </body>
</html>
