<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sala.nombre %>
</p>

<p>
  <strong>User:</strong>
  <%= @sala.user_id %>
</p>

<p>
  <strong>Ptje disponibilidad:</strong>
  <%= @sala.ptje_disponibilidad %>
</p>

<p>
  <strong>Ptje ruido:</strong>
  <%= @sala.ptje_ruido %>
</p>

<p>
  <strong>Ptje enchufes:</strong>
  <%= @sala.ptje_enchufes %>
</p>

<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
